.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.polloption {
  display: inline;
  padding: 5px 9px;
}

.polloption label {
  margin: 0 8px;
}

.optionremove {
  display: inline;
  padding: 2px 7px;
  color: #666;
  background-color: #eee;
}

.optionremove:hover {
  color: #eee;
  background-color: #aa0000;
  cursor: pointer;
}

.optionremove:active {
  color: #eee;
  background-color: #880000;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 4px 10px;
}

td {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid #222;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}

input[type=file], input[type=url] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color:#990000;
  padding: 10px 5px;
}

.note {
  color: #666;
}

.toggler, .togglerhead {
  color: #336162;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.togglecontent {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #336162;
  color: #eee;
  text-align: center;
}
.footer a {
  color: #eee;
}

.main {
  background-color: #fff;
}

body {
  background-color: #ededef;
  margin-bottom: 35px;
}

.button-sm {
  font-size: 16px;
  margin: 7px 13px 10px 0;
}